.about {
  @apply
  min-h-[80vh]
  flex
  justify-center
  items-center
  bg-[url('/about-pattern.svg')]
  bg-no-repeat
  bg-top
  bg-cover;
}

.content-wrapper {
  @apply
  py-6
  container
  w-full
  grid
  grid-cols-12
}

.text-content {
  @apply
  col-span-12
  lg:col-span-6
  flex
  flex-col
  justify-center
  lg:pr-6
  mb-8
  lg:mb-0
}

.image-content {
  @apply
  relative
  col-span-12
  flex
  items-center
  lg:col-span-6
  lg:mt-[-1rem]
}

.card-image {
  @apply
  relative
  rounded-2xl
  w-full
  h-[50vh]
  overflow-hidden;
}

.btn-chevron {
  @apply
  absolute
  top-1/2
  translate-y-[-50%]
  z-30
  w-12
  h-12
  flex
  justify-center
  items-center
  bg-white
  rounded-full
  border
  shadow-lg
  shadow-slate-700/10
  motion-safe:hover:shadow-green-400/40
  motion-safe:duration-200
  hover:border-green-200;
}

.btn-chevron-prev {
  @apply
  left-0;
}

.btn-chevron-next {
  @apply
  right-0;
}

.visi-misi-wrapper {
  @apply
  grid
  grid-cols-2
  gap-6
  mt-10
}

.visi, .misi {
  @apply
  col-span-2
  xl:col-span-1
}

.title {
  @apply
  font-semibold
  text-lg
  mb-2
}

.visi-misi-list {
  @apply
  flex
  flex-col
  gap-2
  pl-2
  pr-10
}

.list {
  @apply
  flex
  gap-4
}