.footer {
  @apply
  pt-80
  bg-gray-100;
}

.footer-wrapper {
  @apply
  relative
  container;
}

.banner {
  @apply
  absolute
  top-0
  left-1/2
  -translate-x-1/2
  -translate-y-[33rem]
  w-[80%]
  h-[60vh]
  lg:h-[65vh]
  flex
  items-end
  bg-[url('/hero-footer.jpeg')]
  bg-no-repeat
  bg-bottom
  bg-cover
  shadow-xl
  shadow-yellow-200/50
  rounded-3xl
  overflow-hidden;
}

.banner:hover > .glass {
  @apply
  flex;
}

.banner:hover > .placeholder-banner {
  @apply
  hidden;
}

.placeholder-banner {
  @apply
  w-full
  h-full
  pb-6
  text-center
  font-medium
  text-lg
  flex
  items-end
  justify-center
  bg-gradient-to-t 
  from-slate-800/30
  to-transparent
  text-white
  lg:hidden;
}

.glass {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  @apply
  w-full
  bg-[url('/promo-pattern.svg')]
  bg-no-repeat
  bg-bottom
  bg-cover
  bg-fixed
  px-5 
  pt-8
  pb-10
  hidden
  lg:flex
  flex-col
  items-center;
}

.footer-content {
  @apply
  lg:py-10
  grid
  grid-cols-12;
}

.footer-1 {
  @apply
  col-span-12
  lg:col-span-6
  flex
  flex-col
  gap-2;
}
.footer-2, .footer-3, .footer-4 {
  @apply
  col-span-12
  lg:col-span-2
  pt-4
  flex
  flex-col
  gap-2;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}