.promo-wrapper {
  @apply
  min-h-[100vh]
  lg:min-h-[75vh]
  max-w-[100vw]
  pt-8
  relative
  flex
  items-center
  bg-[url('/promo-pattern.svg')]
  bg-no-repeat
  bg-top
  bg-cover;
}

.promo {
  @apply
  container
  h-full
  grid
  grid-cols-12
  gap-4
}

.promo-title {
  @apply
  h-full
  col-span-12
  text-center
  lg:text-start
  lg:col-span-4
}

.promo-slider {
  @apply
  relative
  col-span-12
  lg:col-span-8
  lg:mt-[-1rem]
}

.card {
  @apply
  rounded-2xl
  shadow-lg
  shadow-slate-700/10
  flex
  flex-col
  gap-3
  bg-white
  cursor-pointer;
}

.card-image {
  @apply
  relative
  rounded-lg
  w-full
  h-96
  lg:h-64
  overflow-hidden;
}

.btn-chevron {
  @apply
  absolute
  top-1/2
  translate-y-[-50%]
  z-30
  w-12
  h-12
  flex
  justify-center
  items-center
  bg-white
  rounded-full
  border
  shadow-lg
  shadow-slate-700/10
  motion-safe:hover:shadow-green-400/40
  motion-safe:duration-200
  hover:border-green-200;
}

.btn-chevron-prev {
  @apply
  left-0;
}

.btn-chevron-next {
  @apply
  right-0;
}

.promo-cta-wrapper {
  @apply
  flex
  items-center
  justify-center
  lg:justify-start
  gap-4
  mt-4;
}